.App {
  margin: 0px;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}*, :after, :before {
    box-sizing: inherit;
}

.Content {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}

.Page {
	display: flex;
  	flex-direction: row;
  	flex: 1;
  	max-width: 100vw;
  	max-height: 100vh;
}

.Sidebar {
	width: 300px;
	background: white;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.SidebarItem {
	padding: 20px 30px;
	margin: 5px;
	font-size: 14px;
	background: white;
	cursor: move;
	border: black solid 1px;
}

.Message {
	margin: 10px;
	padding: 10px;
	background: rgba(0,0,0,0.05);
}

.Cirle {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 30px;
  align-items: center;
  background: #d30000;
  color: white;
  border-radius: 25%;
  opacity: 0.5;
}

.PortDefaultOuter {
	width: 24px;
	height: 24px;
	background: cornflowerblue;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.node {
	padding: 20px;
}

.node div {
	cursor: pointer;
}

.form {
	margin: 10px;
}

.form-element {
	margin-bottom: 10px;
}

.form-element label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: capitalize;
}

.form-element select,
.form-element input {
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
}
